.chat-page-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    width:100vw;
    height: 100vh;
    justify-content: stretch;
    overflow-x: hidden;

    font-family: sans-serif;
    font-size: 12px;
    
}

.left-chat-container{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    /* background-color: aqua; */

    justify-content: flex-start;
}

.conversation-header{
    /* background-color: brown; */
    display: flex;
    width: 100vw;
    height: 5vh;
    top: 0;
    align-content: flex-start;
    /* border: 1px solid rgb(221, 215, 215); */
}

.conversation-tab{
    /* background-color: burlywood; */
    display: flex;
    width: 100vw;
    height: 95vh;
    align-content: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}

.right-chat-container{
    display: block;
    flex-direction: column;
    margin-right: 0;
    width: 80vw;
    height: 100vh;

    /* background-color: blueviolet; */
}

.chat-header{
    /* background-color: chartreuse; */
    width: 100vw;
    height: 5vh;
}

.chat-tab{
    background-color: rgb(232, 224, 224);
    width: 100vw;
    height: 88vh;
}

.chat-toolbox{
    /* background-color: darkgray; */
    width: 100vw;
    height: 7vh;
}

@media only screen and (max-width: 768px) {
    .left-chat-container{
        display: flex;
        width: 100%;
        /* display: none; */
    }
    .right-chat-container{
        display: none;
        display: flex;
        width: 100%;
    }
}